@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../../vendors/fonts/woff2/CabinetGrotesk-Medium.woff2")
      format("woff2"),
    url("../../vendors/fonts/woff/CabinetGrotesk-Medium.woff") format("woff");
}

.profile {
  display: flex;
  margin-top: 40px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
}

.profile__sidebar {
  max-width: 235px;
  width: 100%;
  box-sizing: border-box;
}
