@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../../vendors/fonts/woff2/CabinetGrotesk-Bold.woff2")
      format("woff2"),
    url("../../vendors/fonts/woff/CabinetGrotesk-Bold.woff") format("woff");
}

.cards {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  font-weight: 700;
}
