.header {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}
.header__add-clothes-btn {
  margin: 0 20px 0 auto;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
