@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../../vendors/fonts/woff2/CabinetGrotesk-Medium.woff2")
      format("woff2"),
    url("../../vendors/fonts/woff/CabinetGrotesk-Medium.woff") format("woff");
}

.header {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}
.header__add-clothes-btn {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  background-color: #f3f3f3;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  cursor: pointer;
  background-color: #f3f3f3;
}
