@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../../vendors/fonts/woff2/CabinetGrotesk-Medium.woff2")
      format("woff2"),
    url("../../vendors/fonts/woff/CabinetGrotesk-Medium.woff") format("woff");
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 171px 2px 24px 0;
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 20px;
  size: 16px;
  font-weight: 500;
}
