@import url(./vendors/normalize.css);
@font-face {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("./vendors/fonts/CabinetGrotesk-Medium.otf");
}

@font-face {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("./vendors/fonts/CabinetGrotesk-Light.otf");
}
